div.form_div{
	display: none;
}
header{
	padding-top: 10px;
	padding-bottom: 10px; 
	text-align: center;
	background-color: black;
	color: white;

}
table{
	width: 100%;
}
td{
	width: 50%;
}